body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 48px;
  text-align: center;
  margin: 0;
  position: relative;
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
}

h2 {
  display: flex;
  justify-content: center;
}

a {
  font-size: 24px;
  margin: 10px;
  padding: 10px 20px;
  background-color: #333;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.button-container {
  display: flex;
}
a:hover {
  background-color: #555;
  box-shadow: 5px 5px 20px 2px #af3aaf
}

.optionsContainer {
  display: flex;
  justify-content: center;
  /* border: 1px solid white; */
  width: 500px;
  height: 250px;
}

 .optionsContainer button {
    flex: 1 1 300px;
    width: 300px;
    height: 50px;
    margin:5px;
    border-radius: 10px;
    transition-duration: .9s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

  }
  
  .optionsContainer button:hover {
    background-color: #e4afe6; 
    color: white;
    cursor: pointer;
    box-shadow: 2px 5px 20px #d497d4;
    width: 400px;
    height:100px;
    
  }
